/* Global Styles */
:root { 
    --primary: #ff6a3e;
    --primaryLight: #ffba43;
    --secondary: #ffba43;
    --secondaryLight: #ffba43;
    --headerColor: #1a1a1a;
    --bodyTextColor: #4e4b66;
    --bodyTextColorWhite: #fafbfc;
    /* 13px - 16px */
    --topperFontSize: clamp(0.8125rem, 1.6vw, 1rem);
    /* 31px - 49px */
    --headerFontSize: clamp(1.9375rem, 3.9vw, 3.0625rem);
    --bodyFontSize: 1rem;
    /* 60px - 100px top and bottom */
    --sectionPadding: clamp(3.75rem, 7.82vw, 6.25rem) 1rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

*, *:before, *:after {
    /* prevents padding from affecting height and width */
    box-sizing: border-box;
}

.ky-topper {
    font-size: var(--topperFontSize);
    line-height: 1.2em;
    text-transform: uppercase;
    text-align: inherit;
    letter-spacing: .1em;
    font-weight: 700;
    color: var(--primary);
    margin-bottom: 0.25rem;
    display: block;
}

.ky-title {
    font-size: var(--headerFontSize);
    font-weight: 900;
    line-height: 1.2em;
    text-align: inherit;
    max-width: 43.75rem;
    margin: 0 0 1rem 0;
    color: var(--headerColor);
    position: relative;
}

.ky-text {
    font-size: var(--bodyFontSize);
    line-height: 1.5em;
    text-align: inherit;
    width: 100%;
    max-width: 40.625rem;
    margin: 0;
    color: var(--bodyTextColor);    
}


/* Page Styles */

/* 4block */

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #four-block {
        padding: var(--sectionPadding);
    }

        #four-block .ky-container {
        max-width: 107.5rem;
        width: 100%;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        /* 48px - 64px */
        gap: clamp(3rem, 6vw, 4rem);
    }

    #four-block .ky-card-group {
        width: 100%;
        margin: 0;
        padding: 0;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        /* 16px - 20px */
        gap: clamp(1rem, 2.5vw, 1.25rem);
    }

    #four-block .ky-item {
        list-style: none;
        width: 100%;
        box-sizing: border-box;
        /* 32px - 40px */
        padding: clamp(2rem, 5vw, 2.5rem);
        background-color: rgba(255, 255, 255, 0.04);
        display: flex;
        grid-column: span 12;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 1.5rem;
        position: relative;
        z-index: 1;
    }

    #four-block .ky-item:before {
        content: '';
        width: 100%;
        height: 0%;
        background: var(--primary);
        opacity: 1;
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        z-index: -1;
        transition: height .3s;
    }

    #four-block .ky-item:hover:before {
        height: 100%;
    }

    #four-block .ky-item:hover .ky-icon {
        filter: grayscale(1) brightness(1000%);
    }

    #four-block .ky-icon {
        width: 3rem;
        height: auto;
    }

    #four-block .ky-h2 {
    /* 20px - 25px */
        font-size: clamp(1.25rem, 2.5vw, 1.5625rem);
        line-height: 1.2em;
        font-weight: 700;
        margin: 0 0 1rem;
        color: var(--bodyTextColorWhite);
        text-align: inherit;
    }

    #four-block .ky-item-text {
        /* 14px - 16px */
        font-size: clamp(0.875rem, 1.6vw, 1rem);
        line-height: 1.5em;
        margin: 0;
        color: var(--bodyTextColorWhite);
        opacity: .8;
        text-align: inherit;
    }
}

/* Tablet - 600px */
@media only screen and (min-width: 37.5rem) {
    #four-block .ky-item {
        grid-column: span 6;
    }
}

/* Large Desktop - 1300px */
@media only screen and (min-width: 81.25rem) {
    #four-block .ky-item {
        grid-column: span 3;
    }
}

/* Big Picture */

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #wrapper0 {
        background-color: #111926;
        overflow: hidden;
    }

    #big-picture {
        padding: var(--sectionPadding);
        padding-top: 0;
    }

    #big-picture .ky-container {
        width: 100%;
        /* changes to 1280px at tablet */
        max-width: 36.5rem;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        /* 48px - 64px */
        gap: clamp(3rem, 6vw, 4rem);
    }

    #big-picture .ky-content {
        /* set text align to left if content needs to be left aligned */
        text-align: left;
        width: 100%;
        max-width: 39.375rem;
        display: flex;
        flex-direction: column;
        /* centers content horizontally, set to flex-start to left align */
        align-items: flex-start;
        position: relative;
        z-index: 10;
    }

    #big-picture .ky-title {
        margin: 0 0 2.5rem 0;
        color: var(--bodyTextColorWhite);
    }

    #big-picture .ky-text {
        margin-bottom: 1rem;
        color: var(--bodyTextColorWhite);
        opacity: .8;
    }

    #big-picture .ky-text:last-of-type {
        margin-bottom: 2rem;
    }

    #big-picture .ky-picture {
        width: 100%;
        height: auto;
        min-height: 26.25rem;
        display: block;
        position: relative;
        z-index: 1;
    }

    #big-picture .ky-picture img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
    }

    #big-picture .ky-stats-group {
        width: 100%;
        max-width: 35.625rem;
        display: flex;
        flex-direction: column;
    }

    #big-picture .ky-stats {
        width: 100%;
        max-width: 39.375rem;
        padding: 0;
        margin: 0;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        row-gap: 1.5rem;
        column-gap: 0.75rem;
    }

    #big-picture .ky-stat {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        grid-column: span 4;
        flex-direction: column;
        align-self: stretch;
        align-content: space-between;
    }

    #big-picture .ky-number {
        /* 39px - 61px */
        font-size: clamp(2.4375rem, 5vw, 3.8125rem);
        line-height: 1.2em;
        font-weight: 900;
        text-align: left;
        color: var(--bodyTextColorWhite);
        display: block;
        margin: 0 0 0.25rem 0;
    }

    #big-picture .ky-desc {
        font-size: 1rem;
        line-height: 1.5em;
        font-weight: 700;
        text-align: left;
        /* auto margin top will push text to bottom if there's only one line */
        margin: 0;
        color: var(--primary);
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #big-picture .ky-container {
        max-width: 80rem;
        flex-direction: row;
        justify-content: space-between;
        align-items: stretch;
    }

    #big-picture .ky-stats-group {
        /* 52px - 90px */
        margin-bottom: clamp(3.25rem, 7vw, 5.625rem);
        /* 60px - 120px */
        padding-top: clamp(3.75rem, 10vw, 7.5rem);
        /* 60px - 80px */
        padding-bottom: clamp(3.75rem, 8vw, 5rem);
        position: relative;
        z-index: 1;
    }

    #big-picture .ky-stats-group:before {
        content: '';
        width: 200vw;
        height: 100%;
        background: #fff;
        opacity: 1;
        position: absolute;
        display: block;
        top: 100%;
        left: -100%;
        z-index: -1;
    transform: translateX(-50%);
    }

    #big-picture .ky-picture {
        height: 100%;
    }
}